################################################################################
# This configuration file is a template that is intended to show all of the
# valid options. There are two ways to use this file:
#
################################################################################

config:
  ############################################################################
  # AWS Access Settings
  ############################################################################

  # Use environmental variables

  ############################################################################
  # Kubernetes cluster settings
  ############################################################################

  # cluster_config:environment:
  # cluster_config:k8s_version: 1.22
  # cluster_config:node_ami_id: ami-0fd784d3523cda0fa
  # network_config:k8s_network_stack_name:

  ############################################################################
  # Network settings
  ############################################################################

  # k8s_vpc_config:cidr_block: 10.12.0.0/16
  # k8s_vpc_config:environment:
  # k8s_vpc_config:maintainer:

  ############################################################################
  # Secret store demo settings
  ############################################################################

  # secret-store-demo:environment:
  # secret-store-demo:k8s_cluster_stack_name:
  # secret-store-demo:environment: create this with pulumi config set --secet